$item-width: 90%;
.dialog-user {
  max-width: $item-width;
  width: 100%;
  &:hover {
    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 34%), 0px 1px 5px 0px rgb(0 0 0 / 32%);
  }
  &.active {
    max-width: calc($item-width + 2%);
    transition: all ease-in-out 0.2s;
    &:hover {
      box-shadow: 0px 3px 5px -1px rgb(0 0 0 / 20%), 0px 5px 8px 0px rgb(0 0 0 / 14%), 0px 1px 14px 0px rgb(0 0 0 / 12%);
    }
  }
  &.init {
    transition: all ease-in-out 0.2s;
  }

  &__link {
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 15px;
  }
  &__title {
    font-size: 22px;
    font-weight: 500;
    color: rgb(20, 20, 20);
    &:hover {
      color: #1976d2;
    }
  }
  &__image {
    width: 50px;
    height: 50px;
    border-radius: 5px;
  }
}
