@import "../common/styles/reset";
@import "../common/styles/dialogs";
.container {
    max-width: 1220px;
    padding: 0 30px;
    margin: 0 auto;
}
.body {
    display: flex;
    min-height: 80vh;
    padding: 30px 0;
    gap: 30px;
}
.container {
    .footer {
        padding: 10px;
    }
}
